/*
   statusbar-overlay sets the background color for the overlay. Black text is the default when the statusbar plugin is not added. When the
   statusbar plugin is added, it also adds default setting to make the content white via:

       <preference name="StatusBarStyle" value="lightcontent"/>

   Setting the background color to black will allow the default light content (white text/icons) to show on it. The statusbar plugin is included
   in the config.xml file and will be added by the CLI when you build locally.

   See https://github.com/apache/cordova-plugin-statusbar
*/

.statusbar-overlay {
    background: #000000;
}
/*SLIDER*/
.tstu-swiper .swiper-slide {
  font-size: 25px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: normal;
  background: #fff;
  color: #000;
}
.tstu-swiper .swiper-slide {
  box-sizing: border-box;
  border: 1px solid #ddd;
  background: #fff;
  flex-direction: column;
  padding:12px 12px 30px 12px;
  color:var(--f7-panel-bg-color);
}
.tstu-swiper {
  font-size: 18px;
  height: 120px;
}
.tstu-swiper.tstu-swiper-auto .swiper-slide {
  width: 85%;
}
.tstu-swiper.tstu-swiper-auto .swiper-slide:nth-child(2n) {
  width: 70%;
}
.tstu-swiper.tstu-swiper-auto .swiper-slide:nth-child(3n) {
  width: 30%;
}
.tstu-swiper{
	height: 202pt;
	
}
.tstu-swiper .tstu-swiper-slide{
	background-color: var(--f7-color-red);
}
.tstu-swiper .tstu-swiper-slide:first-child{
	background-color: var(--f7-theme-color);
}
.tstu-swiper .tstu-swiper-slide:last-child{
	background-color: var(--f7-color-teal);
}
.tstu-swiper-date{
	font-size: 18pt;
	font-weight: bold;
	flex-grow: 0;
	
}
.tstu-swiper-title{
	font-size: 26pt;
	font-weight: bold;
	flex-grow: 1;
}
.tstu-swiper-addr{
	font-size: 10pt;
	flex-grow: 0;
}
.tstu-swiper-orgn{
	font-size: 10pt;
	flex-grow: 0;
}
/*NEWS CARD*/
.tstu-facebook-card .card-header {
  display: block;
  padding: 7pt;
}
.tstu-facebook-card .tstu-facebook-avatar {
  float: left;
}
.tstu-facebook-card .tstu-facebook-name {
  /*margin-left: 44px;*/
  font-size: 11pt;
  font-weight: 500;
}
.tstu-facebook-card .tstu-facebook-date {
 /* margin-left: 44px;*/
  font-size: 10pt;
  color: #8e8e93;
}
.tstu-facebook-card .card-footer {
  background: #fafafa;
}
.tstu-facebook-card .card-footer a {
  color: #81848b;
  font-weight: 500;
}
.tstu-facebook-card .card-content img {
  display: block;
}
.tstu-facebook-card .card-content-padding {
  padding: 11pt 8px;
}
.tstu-facebook-card .card-content-padding .likes {
  color: #8e8e93;
}

.tstu-news-badges{
	display: block;
    float: right;
    margin-top: -10px;
    font-size: 20pt;
    margin-right: 5pt;
}
.tstu-facebook-card img, .tstu-facebook-card picture{
	width: 100%
}
.tstu-event-toggle{
	margin: 1em;
}
.tstu-abitur-accordion{
	margin: 0
}
.tstu-abitur-accordion .links-list a{
	color: 	var(--f7-theme-color-shade) !important;
	transition-duration: .0s !important; 
    transition-property: none !important; 
	-webkit-tap-highlight-color: var(--f7-theme-color-shade) !important;
}
.tstu-abitur-accordion .item-content{
	transition-duration: .0s !important; 
}
.tstu-abitur-accordion .accordion-item-content{
	transition-duration: .0s !important; 
}
.tstu-abitur-accordion .item-title{
	font-weight: bold; 
}
.tstu-answer-label{
	color: 	var(--f7-theme-color-shade) !important;
}
#answer{
	border: 1px solid silver;
	padding: 5pt;
}
.tstu-accordion-textcontent{
	padding: 0 10pt;
}
.tstu-abitur-accordion .block-strong:before{
	background-color: transparent;
}
.tstu-abitur-accordion .item-inner:after{
	width: 96%;
}
.tstu-media-list{
	margin: 0
}
.tstu-media-list .f7-icons{
	color:var(--f7-theme-color) !important;
}
.tstu-media-list .item-subtitle{
	margin: 6pt 0 6pt 6pt;
}
.tstu-media-list a.item-after{
	width: 40pt;
	height: 30pt;
}
.tstu-media-list .f7-icons{
	line-height: 1.5;
	margin: 0 auto;
}
.tstu-media-list .item-title{
	margin-bottom: 3pt;
}
.tstu-napr-list{
	margin: 9pt;
}
.tstu-napr-list a{
	padding: 2px 0;
    display: block;
}
.tstu-napr-list td{
	vertical-align: top;
}
.tstu-napr-list tr{
	border-bottom: 1px solid #757575;
	display: block;
}

.tstu-napr-list tr td:first-child{
	padding-top: 3px;
}

.tstu-napr-popup ul{
	font-weight: bold;
	color:var(--f7-theme-color);
}
.tstu-napr-popup li{
	font-weight: normal;
	color:#000;
}
.tstu-napr-popup h3{
	color: var(--f7-theme-color);
    font-size: 20pt;
    text-align: center;
}
.tstu-login-button{
	width: 100%;
	margin: 5px;
}
.tstu-logout-button{
	width: 50%;
	margin: 8px auto 0 auto;
}
.tstu-page-content > div{
	margin: 0;
}
.tstu-subpage-title{
	background-color: #0656ad;
}
.tstu-subpage-title h1{
	color: #fff;
    font-size: 31pt;
    text-align: center;
    margin: 0;
    line-height: 40pt;
    font-weight: normal;
}
.tstu-rasp h3{
	text-align: center;
    color: var(--f7-theme-color);
    font-size: 18pt;
    margin: 5pt;
}
.tstu-rasp .list a.item-link{
	color: #fff;
    background: var(--f7-theme-color);
}
.abiurinfo{
	display: none;
}
.popover-inner{
	padding: 10px;
}